
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alexandria&family=Cormorant+Infant:ital@1&family=Noto+Serif+Khojki:wght@600&family=Oswald:wght@500&display=swap" rel="stylesheet">
    
<!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MSTTR45V8Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MSTTR45V8Q');
</script>


    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body >
    {{ content | safe }}
    <div id="flash-message" class="flash invisible">
      <div class="flash__inner">
          <div class="flash__message">
  
          </div>
      </div>
  </div>
    <script src="flash.js"></script>
</body>
</html>