@use "reset";

body{
    background-color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: auto;
    justify-content: center;
    column-gap: 30px;
    padding-bottom: 5rem;
    padding-top: 2rem;
    text-align: center;

  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: auto;
    justify-content: center;
    column-gap: 80px;
    row-gap: 40px;
    padding-bottom: 5rem;
    padding-top: 2rem;
    align-items: center;
    
  }

  h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Nothing You Could Do', cursive;
    padding-top: 3%;
    background: -webkit-linear-gradient(8.5deg, #9D8DF1 , #9D8DF1  ,  #1CFEBA , #1CFEBA );
     -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  h2{
    font-family: 'Oswald', sans-serif;
  }

hr{
  width: 15%;
}

.home{
  a:hover {
    color: #1CFEBA;
  }
    text-decoration: none;
  
}
.center{
}

.text{
  text-align: center;
  font-size: 1rem;
  font-family: 'Cormorant Infant', serif;
  color: #9D8DF1;
}
.text1{
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Alexandria', sans-serif;
}


.font{
    font-size: 1rem;
    color: #121212;
    text-align: center;
}

footer{
  color: #121212;
    text-align: center;
    padding-bottom: 2rem;
}

nav{
    color: #121212;
    text-align: center;
}
img{
    background-color: #73d7e5;
    box-shadow: 10px 10px;
    padding: 2rem;
   height: 225px;
    width: 350px;
}


a{
     color: #51e1b6;
     
}
  a:hover, a:active, a:focus {
    color: #9D8DF1;
  }


  .separate > picture:nth-child(1) {
    margin-bottom: 2rem;
  }
  


//Product card:
  .card {
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
   
    text-align: center;
  }
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    
  }
  .price {
    color: grey;
    font-size: 22px;
    font-family: 'Noto Serif Khojki', serif;
  }
  .card > button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    
  }
  .card button:hover {
    opacity: 0.7;
  }

